extends layout

block content
  h1= title
  
  #car
    input(type="text" placeholder="model" id='model' name='model')
    input(type="number" placeholder="price" id='price' name='price')
    input(type="text" placeholder="url picture" id='picture' name='picture')
    button(type="submit" id='submit') Send  


  #model 
  #price
  #picture   
  
  script(src="javascripts/main.js")
